.modal-close-btn {
  float: right;
  border: 2px solid #000000;
  padding: 1px;
}

.modal-close-btn:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  background-color: #ffffff;
  padding: 20px;
}
