@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
#root{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(247, 201, 85, 0.4) 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #000;
  text-decoration: none;
  transition: .3s;
}
a:visited{
  color: #000;
}
a:hover{color: #7795CA;}
button{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  min-width: 100px;
  min-height: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
  
}
button:hover{
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px #222);
}
.lang{
  cursor: pointer;
  background-color: #000;
}